<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Accounts</title>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="static/ib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/style-responsive.css" rel="stylesheet">
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">
    <h1 class="logo" style="text-align:center;color:#219070;font-size:25px;font-family:Trebuchet MS', sans-serif"!important><b> SYSTEM<span> APP</span></b></h1>
    <div class="container">
      <form class="form-login">
        <h2 class="form-login-heading">sign up now</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" placeholder="Username" id= "username" autofocus>
          <br>
          <input type="password" class="form-control" placeholder="Password" id="password">
          <br>
          <input type="text" class="form-control" placeholder="First Name" id="FirstName">
          <br>
          <input type="text" class="form-control" placeholder="Last Name" id="LastName">
          <br>
          <input type="text" class="form-control" placeholder="Email Address" id="Email">
          <br>
          

          <button class="btn btn-theme btn-block" onclick="signup()"><i class="fa fa-lock"></i> SIGN UP</button>
          
        </div>
      </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="static/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("static/img/login3-bg.jpg", {
      speed: 500
    });
    function signup(){
        let xhr = new XMLHttpRequest();
        let url = "/api/signup";

        // open a connection
        xhr.open("POST", url, true);

        // Set the request header i.e. which type of content you are sending
        xhr.setRequestHeader("Content-Type", "application/json");

        // Create a state change callback
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // Print received data from server
                window.location.replace("http://127.0.0.1:5000");
                
            }
        };

        // Converting JSON data to string
        var data = JSON.stringify({ "username": document.getElementById("username").value,
            "password": document.getElementById("password").value,
            "FirstName": document.getElementById("FirstName").value,
            "LastName": document.getElementById("LastName").value,
            "Email": document.getElementById("Email").value
        });

        // Sending data with the request
        xhr.send(data);
    }
  </script>
</body>

</html>
